.my-ActionBar {
    color: #ecf0f1;
    background-color: #e74c3c;
}
.myTitle{
    text-align: center;
    text-decoration: underline;
    color: #e74c3c;
}
.myBg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #141414;
    opacity: 0.8;
    z-index: -1;
    top: 0px;
    left: 0px;
}
p{
    text-justify: inter-word;
    text-align: justify;
}
.container *{
    color: silver;
}
#wv{
    width: 100%;
    height: 100%;
}